@import "~bootstrap/scss/functions";  //原生
@import "./helpers/variables";  //自訂義
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

.pictureFix {
    top: 0;
    bottom: 0; 
    left: 0; 
    right: 0;
    background-image: url("/src/images/boxes.jpg"); 
    background-position: center center; 
    opacity: 0.5; 
    background-repeat:no-repeat; 
    background-size:cover;
}